*{
    font-family:'Victor mono';
}
body{
    height:100%;
    padding:0;
    background-color:rgb(20, 20, 20);
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: 180px 100% auto;
}

header{
    color:rgb(43, 228, 43);
    text-align: center;
}
header > h4 {
    color:red;
    animation: titlecolor 2s ease infinite running;
}

@keyframes titlecolor{
    0%   {color:red}
    25%  {color:red}
    50%  {color:rgb(43, 228, 43)}
    75%  {color: rgb(43, 228, 43)}
    100% {color:Red}
}

.insertedText{
    color: rgb(43, 228, 43);
}

main{ 
    justify-self: center;
    align-self: center;
    width:100%;
}

.button{
    display:flex;
    flex-flow: column;
}
.containerButton{
 justify-self: center;
 align-self: center;
 width:200px;
 border: 1px solid blue;
 display:none;
 height:61px;
}
.instruction{
    display:block;
    border-radius: 3px;
    font-size: 20px;
    color:red;
    padding:15px;
    background-color: rgb(20, 20, 20);
    border:none;
    opacity:0;
    animation: appearButton 2s ease forwards;
    outline:none;
    text-align: center;
 
}
.instruction::before, .startButton:before, .fire1::before, .water1::before, .grass1::before, .fire2::before, .water2::before, .grass2::before{
    content: " > ";
    color:white;
}
.containerStart{
    margin-top: 10px;
}
.startButton{
    display:block;
    border-radius: 3px;
    font-size: 20px;
    color:red;
    text-align: center;
    border:none;
    padding:15px;
    background-color: rgb(20, 20, 20);
    opacity:0;
    animation: appearButton 2s ease forwards;
    outline:none;
}

@keyframes appearButton{
    from{opacity:0;}
    to{opacity:1;}
}

.fire1{grid-area: fireElm1;}
.fire2{grid-area: fireElm2;}
.water1{grid-area: waterElm1; }
.water2{grid-area: waterElm2 }
.grass1{grid-area: grassElm1; }
.grass2{grid-area: grassElm2}
.beats1{grid-area: beatsTxt1; color:white;}
.beats2{grid-area: beatsTxt2}
.beats3{grid-area: beatsTxt3}
.last{grid-area: last; color:white;}
.elements{
    color:white;
    animation: appearButton 2s ease 5.5s  forwards;
    opacity:0;
    margin:auto;
    text-align: center;
    display:none;
    grid-template-areas: 
    'fireElm1 beatsTxt1 grassElm2'
    'grassElm1 beatsTxt2 waterElm2'
    'waterElm1 beatsTxt3 fireElm2'
    'last last last';
    justify-content:center;
    align-content: center;
}

.last{
    margin-top: 20px;
}

.beats1, .beats2, .beats3{
justify-self: center;
align-self: center;
}
.fire1, .water1, .grass1, .fire2, .water2, .grass2{
    width:auto;
    text-align: center;
    border: 1px solid white;
    padding:8px;
    box-sizing: border-box;
    text-align: left;
}

.fire1, .fire2{
    color:red;
}
.water1, .water2{
    color:lightblue;
}
.grass1, .grass2 {
    color: green;
}

.playButtons{
    display:none;
    justify-content: center;
    margin-right: 30px;
}
.playButtons > div > span {
    border: 1px solid white;
    display:inline-block;
}
.playButtons > div{
    display:inline-block;
}
.playButtons > div::before{
    content: '--';
    color: rgb(20, 20, 20);
}
.fireimg{
    font-size: 48px !important;
    color:Red;
}

.grassimg{
    font-size: 48px !important;
    color:green;
}

.waterimg{
    font-size: 48px !important;
    color:lightblue;
    
}

.attack{
    background-color: transparent;
    border:.5px solid white;
    outline:none;
}


#pointsCounter{
    display:none;
}
.actualPoints, .actualPointsCounter{
    display:flex;
    justify-content:space-around;
}

.actualPointsCounter{
    font-size: 30px;
    color:white;
}
.restartButton{
    display:block;
    width:100%;
    text-align: center;
    margin-top: 70px;
}
.restartButtonActivable{
border: 1px solid whitesmoke;
background-color: rgb(20, 20, 20);
text-align: center;
font-size: 20px;
color:rgb(158, 151, 151);
outline:none;
display:none;
}

.scores{
    color:white;
    text-align: left;
    margin-top: 20px;
    padding-left: 30px;
    text-align: center;
}